name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java: [ '17' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Validate & Build (no tests on PRs)
        if: github.event_name == 'pull_request'
        run: mvn -B -ntp -DskipTests=true clean package

      - name: Test & Build
        if: github.event_name != 'pull_request'
        run: mvn -B -ntp clean verify

      - name: Upload Artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ matrix.java }}
          path: |
            target/*.jar
            !target/original-*.jar
          if-no-files-found: warn